*.log
*.jou
*.str
*.wdb
*.wcfg
*.zip

.Xil/
.cache/

rpp_demo1/.hls.failed
rpp_demo1/.linux-hls-libs/
rpp_demo1/.rp_hls.tcl
rpp_demo1/.rp_hls_test.tcl
rpp_demo1/.tmp.tcl
rpp_demo1/file*
rpp_demo1/FPGA/
rpp_demo1/project/
rpp_demo1/vivado/
rpp_demo1/vitis_c++/
rpp_demo1/vitis_hls.log
rpp_demo1/xcd.log

realprobe/vivado.tcl
realprobe/basic_vivado.tcl
